@font-face {
  font-family: 'IRANSansMobile';
  src: url('IRANSansMobile.ttf');
}
body {
  background-color: #0074ff;
  font-family: 'IRANSansMobile', sans-serif;
  font-size: 16px;
  line-height: 3.6;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
}

nav img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

header {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.732);
  padding: 20px;
  text-align: center;
}

header h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

header p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 10px;
}

header strong {
  color: #000000c7;
}

.detail {
  background-color: #ffffff;
  padding: 18px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #ffffff;
}

.title {
  margin-bottom: 20px;
}
