* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

a {
  font-size: 25px !important;
  color: cadetblue;
}

a:hover {
  color: darkcyan;
}

nav {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav img{
    object-fit: contain;
    max-height: 80px;
}

header {
  width: 100vw;
}

.img_section {
  max-height: 70vh;
  width: 100vw;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail_section {
  width: 100vw;
}

p {
  direction: rtl;
  margin-bottom: 30px;
  line-height: 30px;
}

h3 {
  direction: rtl;
}

.title {
  margin-bottom: 50px !important;
}

.detail {
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 50px;
}

.number {
  display: block;
  margin-bottom: 30px;
  font-size: 22px;
}

strong {
  color: navy;
  font-size: 21px;
}
strong span {
  color: darkred;
}

footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
footer span {
    font-size: 15px !important;
}

@media (max-width: 768px) {
  .detail {
    padding: 30px;
  }
}
